.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  // display: flex;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}
