.occupation-section {
  background-color: var(--primary-background-color);
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .occupation-section {
    display: block;
  }
}
