.connection {
  display: none;
}

@media screen and (min-width: 768px) {
  .connection {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .connection {
    flex-direction: row;
  }
}

.connection__icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
  padding: 0;
}

.wrapper__connection {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .connection__item + .connection__item {
    margin-left: 50px;
  }
}

.connection__link {
  @include font(14px, 500, 16px, 0.02em);
  @extend %transform-icon;
  transition-property: var(--transition-color);
  color: var(--primary-text-color);
  padding: 5px 0;
  display: flex;
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .connection__link {
    padding: 16px 0;
  }
}
