.connection {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.connection__icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
  padding: 0;
}

.wrapper__connection {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .connection__item + .connection__item {
    margin-left: 50px;
  }
}

.connection__link {
  @include font(14px, 500, 16px, 0.02em);
  @extend %transform-icon;
  transition-property: var(--transition-color);
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .connection__item:first-child & {
      padding-top: 19px;
      margin-bottom: 10px;
    }
    .connection__item:last-child & {
      padding-bottom: 19px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
