.connection {
  display: flex;
}

.connection__icon {
  margin-right: 10px;
  fill: currentColor;
  align-items: center;
  padding: 0;
}

.wrapper__connection {
  margin-left: auto;
}

.connection__item + .connection__item {
  margin-left: 50px;
}

.connection__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 16px 0;
  display: flex;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
  }
}
