.feature {
  display: block;
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.feature__logo {
  display: flex;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  justify-content: center;
  align-items: center;
}

.feature__headline {
  color: var(--page-text);
  @include font(14px, 700, 16px, 0.03em);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .feature__headline {
    text-align: left;
  }
}

.feature__text {
  color: var(--primary-text-color);
  @include font(14px, 400, 24px, 0.03em);
}

.feature__list {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .feature__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    flex-basis: calc((100% - 120px) / 4);
  }
}
