.address {
  margin-top: 20px;
}

.address-table {
  text-align: center;
}

.address-table__list:not(:last-child) {
  margin-bottom: 9px;
}

.address-table__navigation {
  color: var(--third-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
}

.address-table__connect {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
}
