.join {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .join {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    text-align: left;
  }
}

.footer__title {
  display: inline-block;
  color: var(--third-text-color);
  @include font(14px, 700, 24px, 0.03em);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-table {
  display: flex;
  justify-content: center;
}

.join-table__item:not(:last-child) {
  margin-right: 10px;
}

.join-table__icon {
  fill: var(--third-text-color);
}

.join-table__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #43444d;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %transform-icon;
  transition-property: background-color;
  &:hover,
  &:focus {
    background-color: var(--third-background-color);
  }
}
