.logo {
  font-family: $secondaryFont;
  @include font(24px, 700, 28px, 0.03em);
  display: block;
}

@media screen and (min-width: 1200px) {
  .logo {
    @include font(26px, 700, 31px, 0.03em);
  }
}

.logo__web {
  color: var(--secondary-text-color);
}

.logo__studio {
  color: #000000;
}

.navigation__logo {
  margin-right: auto;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}
