.navigation {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: var(--page-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
}

.nav__link--active {
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border: 2px solid;
    border-radius: 2px;
    background-color: var(--third-background-color);
    margin-top: 28px;
    margin-bottom: -2px;
  }
}
