.filtre {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filtre {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filtre {
    margin-bottom: 50px;
  }
}

.filtre__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filtre__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.button--filtre {
  color: var(--page-text);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  height: auto;
  min-width: auto;
  transition-property: color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--third-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
