.content {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.content__image {
  position: relative;
  overflow: hidden;
}

.content__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--third-text-color);
  padding: 63px 24px;
  @include font(18px, 400, 28px, 0.03em);
  overflow: hidden;
  transform: translateY(101%);
  @extend %transform-icon;
  transition-property: transform;
  .content__link:hover &,
  .content__link:focus & {
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .content__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

.content__list {
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.content__link {
  display: block;
  transition-property: box-shadow;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.content__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content__box {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .content__box {
    flex-grow: 1;
  }
}

.content__caption {
  color: var(--page-text);
  @include font(18px, 700, 36px, 0.06em);
}

.content__subtitle {
  color: var(--primary-text-color);
  @include font(16px, 400, 30px, 0.03em);
  margin-top: 4px;
}
