.filtre {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filtre__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filtre__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.button--filtre {
  color: var(--page-text);
  background-color: #f5f4fa;
  @include font(16px, 500, 26px, 0.03em);
  padding: 6px 22px;
  height: auto;
  min-width: auto;
  @extend %transform-icon;
  transition-property: color, box-shadow;
  &:hover,
  &:focus {
    color: var(--third-text-color);
    background-color: var(--third-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
