body {
  font-family: $primaryFont;
  background: var(--primary-background-color);
  color: var(--page-text);
  font-size: 16px;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}
