:root {
  --page-text: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --third-text-color: #ffffff;
  --link-color: #afb1b8;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2196f3;
}
